:root {
  --color--background: transparent;
  --color--background-accent: rgba(0,0,0,0.1);
  // we cannot work with opacity here, because the text background might overlap the image
  --tile--bar--background: #e5e5e5;
}

.body--views {
  overflow: unset;
}

body, .dialog-off-canvas-main-canvas, .wt__frontend {
  height: auto;
  min-height: auto;
}

.wt__main--iframe {
  .region--content, .block--system_main_block, .touchfront--infopoint,
  .block--system_main_block > .views-element-container, .block--system_main_block > .views-element-container > div {
    height: auto;
  }
}

.wt__frontend {
  --pagehead--height: 0px;
  --pagefoot--height: 0px;
  --main--padding: 0px;
}

.views-element-container header {
  /**
   * hide view titles when they are the entry point of the iframe, because usually this info
   * is provided by the iframe's host page
   */
  body:not(.not-iframe-entrypage) &, body.is-iframe-entrypage & {
    display: none;
  }

  body.not-iframe-entrypage & {
    display: block;

    > h1 {
      display: block;
    }
  }
}

.node--dgmlist--full {
  h1.node__title {
    display: block;
  }
}

.eii {
  padding: 2rem;
}

.geolocation-map-container {
  height: 600px !important;
}
