{% extends "@dgm_base/layout/html.html.twig" %}
{% block user_settings %}
  {{ parent() }}
  {% if not(dgm.user.field_css.isEmpty ?? TRUE) %}
    <style data-dgm-css-type="advanced-css-settings">
      {{ dgm.user.field_css.0.value|raw }}
    </style>
  {% endif %}
{% endblock %}
