{% block wt__theme %}
  <div class="wt__frontend{% if is_front %} wt__frontend--front{% endif %}" id="top">
    {% block wt__main %}
      <main class="wt__main wt__main--iframe wt__main--touch{% if is_front %} wt__main--front{% endif %}">
        {% block screenreader %}
          <a id="main-content" tabindex="-1"></a>
        {% endblock %}

        {% block messages %}
          {{ page.messages }}
        {% endblock %}

        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    {% endblock %}
  </div>

  {% block wt__invisible %}
    {{ page.invisible }}
  {% endblock %}
{% endblock %}
